body {
    background: #555555 !important;

}
.navbar {
    flex-wrap: nowrap;
}
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
    .card {
      flex: 0 0 auto;
      margin-right: 3px;
    }
  
  .card {
    border: 1px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;
  }
.cardmain {
    width: 50px;
    height: 50px;
  }
.card1 {background-color: rgb(248, 145, 61) !important;}
.card2 {background-color: rgb(243, 255, 80) !important;} /* Blue */
.card3 {background-color: rgb(47, 203, 255) !important;} /* Blue */
.card4 {background-color: rgb(218, 98, 255) !important;} /* Blue */
.card5 {background-color: rgb(66, 255, 129) !important;} /* Blue */
.card6 {background-color: rgb(255, 41, 51) !important;} /* Blue */
.card7 {background-color: rgb(73, 230, 183) !important;}

  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    height: 50px;
    width: 100%;
    -webkit-overflow-scrolling: auto;
  }
  ::-webkit-scrollbar { 
    display: none; 
}

.form1 {
    border: 0px solid rgb(0, 0, 0);
    width: 100%;
    height: 10%;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size:30px;
    text-align: center;
}
.naam {
    text-transform: capitalize;
}
.add {
    background-color:#4193ff;
    font-weight: bold;
    height: 11%;
}
.container-fluid {
    padding: 0px;
}
.rekeningkiezer {
    width: 40%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    border: hidden;
    padding-top: 4%;
    margin-bottom: 0%;
}
.Shmekkels {
  width: 49.3% !important;
  height: 100%;
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
  border: hidden;
  padding-top: 4%;
  margin-left: 1px;
  margin-bottom: 0%;
}
.Categorie {
  width: 75px !important;
  height: 100%;
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid rgb(0, 0, 0);
  margin-left: 1px;
  margin-bottom: 0%;
  padding: 10px;
}
.CategorieBalk {
  border: 0px solid rgb(0, 0, 0);
  width: 100%;
  height: 75px;
  margin-bottom: 3px;
  margin-top: 3px;
  font-size:20px;
  text-align: center;
}
.preview {
  flex-wrap: nowrap;
  height: 80px;
  margin-top: 5px;
  padding: 15px;
}
.full {
  width: 100%;
}
.tillend {
  width: 90%
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    background-color: #ffad41 !important;
    font-weight: bold;
    filter: invert(100%);
}
.drinkcard-cc{
    cursor:pointer;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    color: #000000;
    width:40%;height:100%;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

.smekkelbalans {
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-weight: bold;
}
.cash {
    background-color: rgb(71, 163, 106) !important;
    text-transform: capitalize;
}
.rekeningenbalans {
    color: rgb(71, 163, 106);
    text-transform: capitalize;
    font-weight: bold;
}
.beleggingenbalans {
    color: rgb(47, 100, 199);
    font-weight: bold;
}
.schuldenbalans {
    color: crimson;
    font-weight: bold;
}
.totaalbalans {
    background-color: rgb(0, 0, 0);
}
.balans {
    color: #ffffff !important;
    font-weight: bold;
}
.inkomsten {
    background-color: rgb(63, 141, 63);
}
.uitgaven {
    background-color: rgb(182, 51, 51);
}
.beleggingen {
    background-color: rgb(47, 100, 199);
}
.rekeningen {
    background-color: rgb(71, 163, 106);
}
.largebudget {
    width:41.5% !important;
    font-weight: bold;
    padding: 0px;
}
.smallbudget {
    width:20% !important;

}
.headerbudget {
    width:99% !important;
    font-weight: bold;
    margin: 1px;
    margin-left: 2px;
}
.expensebudget {
    width:100% !important;
    font-weight: bold;
}
.bar {
    height: 38px;
    margin: 1px;
    width: 100%;
}
.no-padding {
  padding: 0%;
  height: 6.5%;
  border: 0px;
  margin-top: 1px;
  width: 100%;
}
.groot-deel {
  padding: 0%;
  width: 33%;
  font-size: large;
  text-align: center;
  height: 100%;
}
.deel {
  padding: 0%;
  width: 18%;
  text-align: center;
  height: 100%;
  text-transform: capitalize;
}
.full-maand {
  width: 100%;
  height: 100%;
}
.dropdownMaand {
  margin-top: 0%;
  display: none;
  flex-wrap: wrap;
}
.no-margin {
  margin-top: 0%;
  margin-right: 0%;
}
.small {
  height: 4vh;
  width: 4vh !important;
  padding: 5px;
}
.maand-klein {
  height: 4%;
}
.end {
  padding-left: 10% !important;
}
.deel-trans {
  padding: 0%;
  width: 23.8%;
  text-align: center;
  height: 100%;
  text-transform: capitalize;
}
.grijs {
  background-color: #dddddd;
}
.addbudget {
    width: 100%;
    font-weight: bold;
    color: #ffffff;
}
.addbudgetbedrag {
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: #dddddd;
}
.addbudgetsubmit {
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.addincomes {
    border: 2px solid #000000;
    padding: 1px;
    margin: 0%;
}
.budgetcats {
    margin: 2%;
    height: 27%;
    width: 27% !important;
}
.form2 {
  text-align: center;
  height: 10%;
  font-size: x-large;
}
.trans-padding {
  padding-top: 2vh;
}