body {
    background: #555555 !important;

}
.navbar {
    flex-wrap: nowrap;
}
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
    .card {
      flex: 0 0 auto;
      margin-right: 3px;
    }
  
  .card {
    border: 1px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;
  }
  .card:hover {
    background-color: rgb(68, 82, 122);
}
.cardmain {
    width: 50px;
    height: 50px;
  }
.card2 {background-color: rgb(243, 255, 80);} /* Blue */
.card3 {background-color: rgb(47, 203, 255);} /* Blue */
.card4 {background-color: rgb(66, 255, 129);} /* Blue */
.card5 {background-color: rgb(66, 255, 129);} /* Blue */
.card6 {background-color: rgb(255, 41, 51);} /* Blue */

  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    height: 50px;
    width: 100%;
    -webkit-overflow-scrolling: auto;
  }
  ::-webkit-scrollbar { 
    display: none; 
}