body {
    background: #555555 !important;

}
.navbar {
    flex-wrap: nowrap;
}
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
    .card {
      flex: 0 0 auto;
      margin-right: 3px;
    }
  
  .card {
    border: 1px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;
  }
.cardmain {
    width: 50px;
    height: 50px;
  }
.card1 {background-color: rgb(248, 145, 61);}
.card2 {background-color: rgb(243, 255, 80);} /* Blue */
.card3 {background-color: rgb(47, 203, 255);} /* Blue */
.card4 {background-color: rgb(218, 98, 255);} /* Blue */
.card5 {background-color: rgb(66, 255, 129);} /* Blue */
.card6 {background-color: rgb(255, 41, 51);} /* Blue */
.card7 {background-color: rgb(73, 230, 183);}

  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    height: 50px;
    width: 100%;
    -webkit-overflow-scrolling: auto;
  }
  ::-webkit-scrollbar { 
    display: none; 
}

.form1 {
    border: 0px solid rgb(0, 0, 0);
    width: 100%;
    height: 10%;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size:30px;
    text-align: center;

}
.naam {
    text-transform: capitalize;
}
.add {
    background-color: #44e9b2;
    font-weight: bold;
}
.container-fluid {
    padding: 0px;
}
.rekeningkiezer {
    width: 30%;
    height: 100%;
    font-size:25px;
    text-align: center;
    text-transform: capitalize;
    border: hidden;
}

.preview {
  flex-wrap: nowrap;
  height: 80px;
  margin-top: 5px;
  padding: 15px;
}
.full {
  width: 100%
}
.tillend {
  width: 90%
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
    font-weight: bold;
}
.drinkcard-cc{
    cursor:pointer;
    background-color: #44e9b2;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:30%;height:100%;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
