{%extends "layoutHome.html"%}
{%block homeBody%}
<div class="container">
    {% for row in rekeningen %}
    {% if row[2] == "Cash" %}
    <div class="form-control cash">
        <table class="full">
                <tr>
                    <td class="tillend balans">{{row[2]}}</td>
                    <td class="balans">{{row[1]}}€</td>
                </tr>
            </table>
        </div>
    {% endif %}
    {% endfor %}
    <div class="form-control rekeningen">
            <table class="full">
                    <tr>
                        <td class="tillend balans">Rekeningen</td>
                        <td class="balans">{{rekeningtotaal}}€</td>
                    </tr>
                </table>
            </div>
    {% for row in rekeningen %}
    {% if row[2] != "smekkels" and row[2] != "cash" %}
    <div class="form-control rekeningenbalans">
        <table class="full">
            <tr>
                <td class="tillend rekeningenbalans">{{row[2]}}</td>
                <td class="rekeningenbalans">{{row[1]}}€</td>
            </tr>
        </table>
    </div>
    {% endif %}
    {% endfor %}
    <div class="form-control beleggingen">
        <table class="full">
                <tr>
                    <td class="tillend balans">Beleggingen</td>
                    <td class="balans">Optelling</td>
                </tr>
            </table>
        </div>
    <div class="form-control totaalbalans">
        <table class="full">
            <tr>
                <td class="tillend balans">Vermogen</td>
                <td class="balans">{{totaal}}€</td>
            </tr>
        </table>
    </div>
    <div class="form-control">
        <table class="full">
            <tr>
                <td class="tillend rekeningenbalans">Inkomsten</td>
                <td class="rekeningenbalans">{{inkomsten}}€</td>
            </tr>
        </table>
    </div>
    <div class="form-control">
        <table class="full">
            <tr>
                <td class="tillend schuldenbalans">Uitgaven</td>
                <td class="schuldenbalans">{{uitgaven}}€</td>
            </tr>
        </table>
    </div>
    <div class="form-control">
        <table class="full">
            <tr>
                <td class="tillend beleggingenbalans">Rendement</td>
                <td class="beleggingenbalans">Optelling</td>
            </tr>
        </table>
    </div>
</div>
{%endblock%}