{%extends "layoutHome.html"%}
{% block homeTitle %}
budget
{%endblock%}
{%block homeBody%}
<div class="btn-group headerbudget" role="group" aria-label="Basic example">
        <button type="button" class="largebudget btn btn-warning">Augustus 2018</button>
        <button type="button" class="smallbudget btn btn-warning">Plan</button>
        <button type="button" class="smallbudget btn btn-warning">Huidig</button>
        <button type="button" class="smallbudget btn btn-warning">Percent</button>
      </div>
<div class="btn-group headerbudget" role="group" aria-label="Basic example">
        <div class="largebudget btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="expensebudget btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Inkomsten
                </button>
                <div class="dropdown-menu addincomes" aria-labelledby="btnGroupDrop1">
                        <form action="/budget" method="post" class="dropdown-item addincomes" id="form">
                            <input autocomplete="off" required autofocus name="inkomsten" placeholder="Bedrag" type="number" step="0.1" class="btn btn-success" id="input"/>
                            <button type="submit" class="btn btn-warning">Update</button>
                        </form>
                </div>
            </div>
        <button type="button" class="smallbudget btn ">{{ inkomsten }}€</button>
        <button type="button" class="smallbudget btn ">{{ inkomhuidig }}€</button>
        <button type="button" class="smallbudget btn ">{% if inkomsten > 0 %}{{ (inkomhuidig / inkomsten * 100) | int }}%{%else%}0%{% endif %}</button>
      </div>
{%set i = namespace(a=0)%}
{% for budget in budgetten %}      
<div class="btn-group headerbudget" role="group" aria-label="Button group with nested dropdown">
    <div class="largebudget btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="expensebudget btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{budget[1]}}
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                {% for categorie in range(32) %}
                {% if budget[categorie + 3] %}
                <label class="drinkcard-cc card Categorie budgetcats" for="winkel"><img src="static/icons/{{budget[categorie + 3]}}.png" class="img-fluid" alt="Responsive image"></label>
                {% endif %}
                {% endfor %}
                <div class="dropdown-divider"></div>
                <form action="/verwijderbudget" method="post">
                <button name="verwijder" value="{{ budget[1] }}" class="dropdown-item">Verwijder budget</button>
                </form>
        </div>
    </div>
    <button type="button" class="smallbudget btn ">{{budget[2]}}€</button>
    <button type="button" class="smallbudget btn ">{{budgethuidigen[i.a]}}€</button>
    <button type="button" class="smallbudget btn ">{% if budget[2] > 0 %}{{ (budgethuidigen[i.a] / budget[2] * 100) | int }}%{%else%}0%{% endif %}</button>
</div>
{%set i.a = i.a + 1%}
{% endfor %}
<div class="btn-group headerbudget" role="group" aria-label="Basic example">
        <div class="largebudget btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="expensebudget btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Overige
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="/addbudget">Nieuw budget</a>
                </div>
            </div>
        <button type="button" class="smallbudget btn ">0.0€</button>
        <button type="button" class="smallbudget btn ">{{totaaluitgaven - totaalhuidigbudget}}€</button>
        <button type="button" class="smallbudget btn ">0%</button>
      </div>
<div class="btn-group headerbudget" role="group" aria-label="Basic example">
    <button type="button" class="largebudget btn btn-dark">Alle budgetten</button>
    <button type="button" class="smallbudget btn ">{{ totaalbudget }}€</button>
    <button type="button" class="smallbudget btn ">{{ totaaluitgaven }}€</button>
    <button type="button" class="smallbudget btn ">{% if totaalbudget > 0 %}{{ (totaaluitgaven / totaalbudget * 100) | int }}%{%else%}0%{% endif %}</button>
    </div>
<div class="btn-group headerbudget" role="group" aria-label="Basic example">
    <button type="button" class="largebudget btn btn-warning">Balans</button>
    <button type="button" class="smallbudget btn btn-warning">Plan</button>
    <button type="button" class="smallbudget btn btn-warning">Huidig</button>
    <button type="button" class="smallbudget btn btn-warning">Spaar-%</button>
    </div>
<div class="btn-group headerbudget" role="group" aria-label="Basic example">
    <button type="button" class="largebudget btn btn-primary">Savings</button>
    <button type="button" class="smallbudget btn ">{{ (inkomsten - totaalbudget) | round(2) }}€</button>
    <button type="button" class="smallbudget btn ">{{ (totaalinkomsten - totaaluitgaven) | round(2) }}€</button>
    <button type="button" class="smallbudget btn ">{% if totaalinkomsten > 0 %}{{ (((totaalinkomsten - totaaluitgaven)/totaalinkomsten)*100) | round(2) }}%{%else%}0%{% endif %}</button>
    </div>
{%endblock%}