{% extends "layoutHome.html" %}
{% block homeTitle %}
grafiek
{%endblock%}
{%block homeBody%}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
<div class="form-control center">
    <button id="title" class="btn btn-light background-grafiek">Uitgaven per categorie</button>
    <div id="test"></div>
</div>
<div class="form-control center">
    <button id="cash" class="btn btn-light background-grafiek">Cash flow</button>
    <div id="cash-graph"></div>
</div>
<div class="form-control center">
    <button id="ink" class="btn btn-light background-grafiek">Balans</button>
    <div id="ink-graph"></div>
</div>
<div class="form-control center">
    <button id="inkomst" class="btn btn-light background-grafiek">Inkomsten per categorie</button>
    <div id="inkomst-g"></div>
</div>
</div>
<script>
    var winkel = "{%set winkel = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'winkel'%}{%set winkel.a = winkel.a + row[2]%}{%endif%}{%endfor%}{{winkel.a}}";
    var restaurant = "{%set restaurant = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'restaurant'%}{%set restaurant.a = restaurant.a + row[2]%}{%endif%}{%endfor%}{{restaurant.a}}";
    var openbaarVervoer = "{%set openbaarVervoer = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'openbaarVervoer'%}{%set openbaarVervoer.a = openbaarVervoer.a + row[2]%}{%endif%}{%endfor%}{{openbaarVervoer.a}}";
    var auto = "{%set auto = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'auto'%}{%set auto.a = auto.a + row[2]%}{%endif%}{%endfor%}{{auto.a}}";
    var verzekering = "{%set verzekering = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'verzekering'%}{%set verzekering.a = verzekering.a + row[2]%}{%endif%}{%endfor%}{{verzekering.a}}";
    var dokters = "{%set dokters = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'dokters'%}{%set dokters.a = dokters.a + row[2]%}{%endif%}{%endfor%}{{dokters.a}}";
    var kleren = "{%set kleren = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'kleren'%}{%set kleren.a = kleren.a + row[2]%}{%endif%}{%endfor%}{{kleren.a}}";
    var abonnementen = "{%set abonnementen = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'abonnementen'%}{%set abonnementen.a = abonnementen.a + row[2]%}{%endif%}{%endfor%}{{abonnementen.a}}";
    var diensten = "{%set diensten = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'diensten'%}{%set diensten.a = diensten.a + row[2]%}{%endif%}{%endfor%}{{diensten.a}}";
    var elektronica = "{%set elektronica = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'elektronica'%}{%set elektronica.a = elektronica.a + row[2]%}{%endif%}{%endfor%}{{elektronica.a}}";
    var gsm = "{%set gsm = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'gsm'%}{%set gsm.a = gsm.a + row[2]%}{%endif%}{%endfor%}{{gsm.a}}";
    var huisdieren = "{%set huisdieren = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'huisdieren'%}{%set huisdieren.a = huisdieren.a + row[2]%}{%endif%}{%endfor%}{{huisdieren.a}}";
    var elektriciteit = "{%set elektriciteit = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'elektriciteit'%}{%set elektriciteit.a = elektriciteit.a + row[2]%}{%endif%}{%endfor%}{{elektriciteit.a}}";
    var huis = "{%set huis = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'huis'%}{%set huis.a = huis.a + row[2]%}{%endif%}{%endfor%}{{huis.a}}";
    var water = "{%set water = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'water'%}{%set water.a = water.a + row[2]%}{%endif%}{%endfor%}{{water.a}}";
    var internet = "{%set internet = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'internet'%}{%set internet.a = internet.a + row[2]%}{%endif%}{%endfor%}{{internet.a}}";
    var meubels = "{%set meubels = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'meubels'%}{%set meubels.a = meubels.a + row[2]%}{%endif%}{%endfor%}{{meubels.a}}";
    var supplies = "{%set supplies = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'supplies'%}{%set supplies.a = supplies.a + row[2]%}{%endif%}{%endfor%}{{supplies.a}}";
    var vuilnis = "{%set vuilnis = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'vuilnis'%}{%set vuilnis.a = vuilnis.a + row[2]%}{%endif%}{%endfor%}{{vuilnis.a}}";
    var games = "{%set games = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'games'%}{%set games.a = games.a + row[2]%}{%endif%}{%endfor%}{{games.a}}";
    var sport = "{%set sport = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'sport'%}{%set sport.a = sport.a + row[2]%}{%endif%}{%endfor%}{{sport.a}}";
    var tekenen = "{%set tekenen = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'tekenen'%}{%set tekenen.a = tekenen.a + row[2]%}{%endif%}{%endfor%}{{tekenen.a}}";
    var reizen = "{%set reizen = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'reizen'%}{%set reizen.a = reizen.a + row[2]%}{%endif%}{%endfor%}{{reizen.a}}";
    var tuin = "{%set tuin = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'tuin'%}{%set tuin.a = tuin.a + row[2]%}{%endif%}{%endfor%}{{tuin.a}}";
    var events = "{%set events = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'events'%}{%set events.a = events.a + row[2]%}{%endif%}{%endfor%}{{events.a}}";
    var lezen = "{%set lezen = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'lezen'%}{%set lezen.a = lezen.a + row[2]%}{%endif%}{%endfor%}{{lezen.a}}";
    var tv = "{%set tv = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'tv'%}{%set tv.a = tv.a + row[2]%}{%endif%}{%endfor%}{{tv.a}}";
    var onderwijs = "{%set onderwijs = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'onderwijs'%}{%set onderwijs.a = onderwijs.a + row[2]%}{%endif%}{%endfor%}{{onderwijs.a}}";
    var charity = "{%set charity = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'charity'%}{%set charity.a = charity.a + row[2]%}{%endif%}{%endfor%}{{charity.a}}";
    var belasting = "{%set belasting = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'belasting'%}{%set belasting.a = belasting.a + row[2]%}{%endif%}{%endfor%}{{belasting.a}}";
    var gift = "{%set gift = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'gift'%}{%set gift.a = gift.a + row[2]%}{%endif%}{%endfor%}{{gift.a}}";
    var interest = "{%set interest = namespace(a=0)%}{%for row in uitgaven%}{%if row[7] == 'interest'%}{%set interest.a = interest.a + row[2]%}{%endif%}{%endfor%}{{interest.a}}";
    var loon = "{%set loon = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'loon'%}{%set loon.a = loon.a + row[2]%}{%endif%}{%endfor%}{{loon.a}}";
    var bonus = "{%set bonus = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'bonus'%}{%set bonus.a = bonus.a + row[2]%}{%endif%}{%endfor%}{{bonus.a}}";
    var geschenken = "{%set geschenken = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'geschenken'%}{%set geschenken.a = geschenken.a + row[2]%}{%endif%}{%endfor%}{{geschenken.a}}";
    var zakgeld = "{%set zakgeld = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'zakgeld'%}{%set zakgeld.a = zakgeld.a + row[2]%}{%endif%}{%endfor%}{{zakgeld.a}}";
    var erfenis = "{%set erfenis = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'erfenis'%}{%set erfenis.a = erfenis.a + row[2]%}{%endif%}{%endfor%}{{erfenis.a}}";
    var klusjes = "{%set klusjes = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'klusjes'%}{%set klusjes.a = klusjes.a + row[2]%}{%endif%}{%endfor%}{{klusjes.a}}";
    var terugbetaling = "{%set terugbetaling = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'terugbetaling'%}{%set terugbetaling.a = terugbetaling.a + row[2]%}{%endif%}{%endfor%}{{terugbetaling.a}}";
    var beurs = "{%set beurs = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'beurs'%}{%set beurs.a = beurs.a + row[2]%}{%endif%}{%endfor%}{{beurs.a}}"
    var ziekteverzekering = "{%set ziekteverzekering = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'ziekteverzekering'%}{%set ziekteverzekering.a = ziekteverzekering.a + row[2]%}{%endif%}{%endfor%}{{ziekteverzekering.a}}";
    var loon3 = "{%set loon3 = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'loon3'%}{%set loon3.a = loon3.a + row[2]%}{%endif%}{%endfor%}{{loon3.a}}";
    var dividend2 = "{%set dividend2 = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'dividend2'%}{%set dividend2.a = dividend2.a + row[2]%}{%endif%}{%endfor%}{{dividend2.a}}";
    var huur = "{%set huur = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'huur'%}{%set huur.a = huur.a + row[2]%}{%endif%}{%endfor%}{{huur.a}}";
    var dividend = "{%set dividend = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'dividend'%}{%set dividend.a = dividend.a + row[2]%}{%endif%}{%endfor%}{{dividend.a}}";
    var interest1 = "{%set interest1 = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'interest1'%}{%set interest1.a = interest1.a + row[2]%}{%endif%}{%endfor%}{{interest1.a}}";
    var verkoop = "{%set verkoop = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'verkoop'%}{%set verkoop.a = verkoop.a + row[2]%}{%endif%}{%endfor%}{{verkoop.a}}";
    var andere = "{%set andere = namespace(a=0)%}{%for row in ink%}{%if row[7] == 'andere'%}{%set andere.a = andere.a + row[2]%}{%endif%}{%endfor%}{{andere.a}}";

    {%for i in range(12)%}
    {%set total = namespace(a=0)%}
    {%set totalU = namespace(a=0)%}
    {%if ((date[0] * 10 + date[1]) | int) - i < 0%}
    {%set jaarStoring = 1%}
    {%else%}
    {%set jaarStoring = 0%}
    {%endif%}
    var total{{i}} = {%for row in uit %}{%if ((row[3][5] | int) * 10 + (row[3][6] | int) + 12 )% 12 == ((date[0] | int) * 10 + (date[1] | int) - i + 12 )% 12 and (row[3][2] | int) * 10 + (row[3][3] | int) == (date[6] | int) * 10 + (date[7] | int) - jaarStoring%}{%set total.a = total.a + row[2] %}{%endif%}{%endfor%}{{total.a}};
    var totalI{{i}} = {%for rowU in ink %}{%if (((rowU[3][5] * 10 + rowU[3][6]) | int) + 12 )% 12 == (((date[0] * 10 + date[1]) | int) - i + 12 )% 12 and (rowU[3][2] * 10 + rowU[3][3]) | int == ((date[6] * 10 + date[7]) | int) - jaarStoring%}{%set totalU.a = totalU.a + rowU[2] %}{%endif%}{%endfor%}{{totalU.a}};
    {%endfor %}
    var totalC = [];
    var totalB = [];
    {%for i in range(((date[6] | int) * 10 + (date[7] | int))-16)%}
    {%set totalC = namespace(a=0)%}
    {%set totalB = namespace(a=0)%}
    totalC.push({%for rowC in history %}{%if (rowC[3][2] * 10 + rowC[3][3]) | int == ((date[6] * 10 + date[7]) | int) - i%}{%set totalC.a = rowC[1] %}{%endif%}{%endfor%}{{totalC.a}});
    totalB.push({%for rowB in history %}{%if (rowB[3][2] * 10 + rowB[3][3]) | int == ((date[6] * 10 + date[7]) | int) - i%}{%set totalB.a = rowB[2] %}{%endif%}{%endfor%}{{totalB.a}});
    {%endfor %}
</script>
<script src="/static/grafiek.js"></script>
{%endblock%}