{% extends "layout.html" %}
{% block title %}
Home
{%endblock%}
{%block head%}
{%endblock%}
{%block body%}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="static/home.png" class="img-fluid" alt="Responsive image">
    </a>
    <div class="scrolling-wrapper-flexbox">
      <div class="card"><a class="nav-item nav-link active" href="#"> <span class="sr-only">(current)</span></a></div>
      <div class="card"><a class="nav-item nav-link" href="#"></a></div>
      <div class="card"><a class="nav-item nav-link" href="#"></a></div>
      <div class="card"><a class="nav-item nav-link" href="#"></a></div>
    </div>
  </nav>
{%endblock%}