{% extends "layout.html" %}
{% block title %}
Home
{%endblock%}
{%block head%}
{%endblock%}
{%block body%}
<nav class="navbar navbar-dark bg-dark">
    <a class="cardish" href="/">
        <img src="static/icons/input.png" class="img-fluid" alt="Responsive image">
    </a>
    <div class="scrolling-wrapper-flexbox">
      <div class="card"><a href="#">
        <img src="static/icons/budget.png" class="img-fluid" alt="Responsive image"></a>
      </div>
      <div class="card"><a href="#">
          <img src="static/icons/balans.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card"><a href="#">
          <img src="static/icons/maand.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card"><a href="#">
          <img src="static/icons/jaar.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card"><a href="#">
          <img src="static/icons/grafieken.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card"><a href="#">
          <img src="static/icons/onderneming.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card"><a href="#">
          <img src="static/icons/aandelen.png" class="img-fluid" alt="Responsive image"></a>
        </div>
    </div>
  </nav>
{%endblock%}