{% extends "layoutHome.html" %}
{% block homeTitle %}
home
{%endblock%}
{%block homeBody%}
  <div class="container">
    <a href="/budget" class="form-control preview">
      <div class="scrolling-wrapper-flexbox">
      <div class="card card1"><img src="static/icons/budget.png" class="img-fluid" alt="Responsive image"></div>
      {{budget}}</div>
    </a>
    <a href="/balans" class="form-control preview">
      <div class="scrolling-wrapper-flexbox">
      <div class="card card2"><img src="static/icons/balans.png" class="img-fluid" alt="Responsive image"></div>
      <div>{{balans}}<p>{{schmekkels}}</p></div></div>
    </a>
    <a href="/maand" class="form-control preview">
      <div class="scrolling-wrapper-flexbox">
      <div class="card card3"><img src="static/icons/maand.png" class="img-fluid" alt="Responsive image"></div>
      {{maand}}</div>
    </a>
    <a href="/rekening" class="form-control preview">
      <div class="scrolling-wrapper-flexbox">
      <div class="card card4"><img src="static/icons/jaar.png" class="img-fluid" alt="Responsive image"></div>
      {{jaar}}</div>
    </a>
    <a href="/rekening" class="form-control preview">
      <div class="scrolling-wrapper-flexbox">
      <div class="card card5"><img src="static/icons/grafieken.png" class="img-fluid" alt="Responsive image"></div>
      {{grafieken}}</div>
    </a>
    <a href="/rekening" class="form-control preview">
      <div class="scrolling-wrapper-flexbox">
      <div class="card card6"><img src="static/icons/onderneming.png" class="img-fluid" alt="Responsive image"></div>
      {{onderneming}}</div>
    </a>
    <a href="/rekening" class="form-control preview">
      <div class="scrolling-wrapper-flexbox">
      <div class="card card7"><img src="static/icons/aandelen.png" class="img-fluid" alt="Responsive image"></div>
      {{aandelen}}</div>
    </a>
{%endblock%}