{% extends "layout.html" %}
{% block title %}
input
{%endblock%}
{%block body%}
<nav class="navbar navbar-dark bg-dark">
                <a class="card cardmain" href="/home"><img src="static/icons/home.png" class="img-fluid" alt="Responsive image"></a>
                <div class="scrolling-wrapper-flexbox">
                                <div class="card card2"><a href="#"><img src="static/icons/Transactie.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card3"><a href="#"><img src="static/icons/Overschrijving.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card4"><a href="#"><img src="static/icons/Aandeel.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card5"><a href="#"><img src="static/icons/Belegging2.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card6"><a href="#"><img src="static/icons/Lening1.png" class="img-fluid" alt="Responsive image"></a></div>
                        </div>
              </nav>
        <div class="container">
                <form action="/rekening" method="get" class="center-block">
                <button type="submit" class="form-control">open rekening</button>
                </form>
                <form action="/" method="get" class="center-block">
                <button type="submit" class="form-control">verander balans</button>
                </form>
                <form action="/" method="get" class="center-block">
                <button type="submit" class="form-control">smekkels</button>
                </form>
                <form action="/" method="get" class="center-block">
                <button type="submit" class="form-control">smokkels</button>
                </form>
                <form action="/" method="get" class="center-block">
                <button type="submit" class="form-control">aandelen</button>
                </form>
                <form action="/" method="get" class="center-block">
                <button type="submit" class="form-control">leningen</button>
                </form>
        </div>
        </div>
{%endblock%}