{% extends "layout.html" %}
{% block title %}
{% block homeTitle %}
{%endblock%}
{%endblock%}
{%block head%}
{%endblock%}
{%block body%}
<nav class="navbar navbar-dark bg-dark">
    <a class="card" href="/">
        <img src="static/icons/input.png" class="img-fluid" alt="Responsive image">
    </a>
    <div class="scrolling-wrapper-flexbox">
      <div class="card card1"><a href="/budget">
        <img src="static/icons/budget.png" class="img-fluid" alt="Responsive image"></a>
      </div>
      <div class="card card2"><a href="/balans">
          <img src="static/icons/balans.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card card3"><a href="/maand">
          <img src="static/icons/maand.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card card4"><a href="/jaar">
          <img src="static/icons/jaar.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card card5"><a href="/grafiek">
          <img src="static/icons/grafieken.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card card6"><a href="#">
          <img src="static/icons/onderneming.png" class="img-fluid" alt="Responsive image"></a>
        </div>
      <div class="card card7"><a href="#">
          <img src="static/icons/aandelen.png" class="img-fluid" alt="Responsive image"></a>
        </div>
    </div>
  </nav>
  {%block homeBody%}
  {%endblock%}
{%endblock%}