{% extends "layout.html" %}
{% block title %}
{% block titleInput %}
Input
{%endblock%}
{%endblock%}
{%block body%}
<nav class="navbar navbar-dark bg-dark">
    <a class="card cardmain" href="/home"><img src="static/icons/home.png" class="img-fluid" alt="Responsive image"></a>
    <div class="scrolling-wrapper-flexbox">
        <div class="card card2"><a href="/"><img src="static/icons/Transactie.png" class="img-fluid" alt="Responsive image"></a></div>
        <div class="card card3"><a href="#"><img src="static/icons/Overschrijving.png" class="img-fluid" alt="Responsive image"></a></div>
        <div class="card card7"><a href="#"><img src="static/icons/Aandeel.png" class="img-fluid" alt="Responsive image"></a></div>
        <div class="card card6"><a href="/lening"><img src="static/icons/Lening1.png" class="img-fluid" alt="Responsive image"></a></div>
        <div class="card card1"><a href="/addbudget"><img src="static/icons/budget.png" class="img-fluid" alt="Responsive image"></a></div>
        <div class="card card2"><a href="/rekening"><img src="static/icons/Rekening.png" class="img-fluid" alt="Responsive image"></a></div>
        <div class="card card7"><a href="#"><img src="static/icons/Belegging2.png" class="img-fluid" alt="Responsive image"></a></div>
    </div>
</nav>
{%block input%}
{%endblock%}
{%endblock%}