{% extends "layoutHome.html" %}
{% block homeTitle %}
Maand
{%endblock%}
{%block homeBody%}
<div class="container">
    <div class="no-padding btn-group">
                <button class="btn groot-deel bg-warning">Maand</button>
                <button class="btn deel bg-warning">Ink.</button>
                <button class="btn deel bg-warning">Uitg.</button>
                <button class="btn deel bg-warning">Sav.</button>
                <button class="btn deel bg-warning">Spaar-%</button>
    </div>
    {%for i in range(12)%}
    {%set total = namespace(a=0)%}
    {%set totalU = namespace(a=0)%}
    {%if ((date[0] * 10 + date[1]) | int) - i < 0%}
    {%set jaarStoring = 1%}
    {%else%}
    {%set jaarStoring = 0%}
    {%endif%}
    <div class="no-padding btn-group">
        <button class="btn groot-deel bg-success" id={{i}}></button>
        <button class="btn deel" id="{{i}}inkomst">{%for row in transacties %}
            {%if ((row[3][5] | int) * 10 + (row[3][6] | int) + 12 )% 12 == ((date[0] | int) * 10 + (date[1] | int) - i + 12 )% 12 and (row[3][2] | int) * 10 + (row[3][3] | int) == (date[6] | int) * 10 + (date[7] | int) - jaarStoring%}
            {%set total.a = total.a + row[2] %}{%endif%}{%endfor%}{{total.a}}€</button>
        <button class="btn deel" id="{{i}}uitgave">{%for rowU in Uitgaven %}
            {%if (((rowU[3][5] * 10 + rowU[3][6]) | int) + 12 )% 12 == (((date[0] * 10 + date[1]) | int) - i + 12 )% 12 and (rowU[3][2] * 10 + rowU[3][3]) | int == ((date[6] * 10 + date[7]) | int) - jaarStoring%}
            {%set totalU.a = totalU.a + rowU[2] %}{%endif%}{%endfor%}{{totalU.a}}€</button>
        <button class="btn deel" id="{{i}}winst">{{total.a - totalU.a}}€</button>
        <button class="btn deel">{%if not total.a == 0%} {{(total.a - totalU.a) / total.a*100}}%{%else%}0%{%endif%}</button>
    </div>
    <div class="dropdownMaand" id="{{i}}transacties">
        {%for row in transacties%}
        {%if ((row[3][5] | int) * 10 + (row[3][6] | int) + 12 )% 12 == ((date[0] | int) * 10 + (date[1] | int) - i + 12 )% 12 and (row[3][2] | int) * 10 + (row[3][3] | int) == (date[6] | int) * 10 + (date[7] | int) - jaarStoring%}
        <p><div class="no-padding btn-group maand-klein">
            <button class="btn groot-deel bg-success">{{row[3]}}</button>
            <button class="btn deel-trans">{{row[2]}}€</button>
            <button class="btn deel-trans">{{row[1]}}</button>
            <button class="btn deel-trans end"><div class="card grijs Categorie small no-margin"><img src="static/icons/{{row[7]}}.png" class="img-fluid" alt="Responsive image"></div></button>
        </div></p>
        {%endif%}{%endfor%}
        {%for rowU in Uitgaven%}
        {%if (((rowU[3][5] * 10 + rowU[3][6]) | int) + 12 )% 12 == (((date[0] * 10 + date[1]) | int) - i + 12 )% 12 and (rowU[3][2] * 10 + rowU[3][3]) | int == ((date[6] * 10 + date[7]) | int) - jaarStoring%}
        <p><div class="no-padding btn-group maand-klein">
            <button class="btn groot-deel bg-danger">{{rowU[3]}}</button>
            <button class="btn deel-trans">{{rowU[2]}}€</button>
            <button class="btn deel-trans">{{rowU[1]}}</button>
            <button class="btn deel-trans end"><div class="card Categorie small no-margin grijs"><img src="static/icons/{{rowU[7]}}.png" class="img-fluid" alt="Responsive image"></div></button>
        </div></p>
        {%endif%}{%endfor%}
    </div>
    {%endfor %}

</div>

<!-- App's own javascript(must be at bottom)-->
<script src="/static/maand.js"></script>
{%endblock %}