{% extends "layout.html" %}
{% block title %}
register
{%endblock%}
{%block head%}
<h1 class="text-center text-white">Register</h1>
{%endblock%}
{%block body%}
    <div>
        <div class="container">
            <form action="/register" method="post" class="center-block" id="form">
                <input autocomplete="off" autofocus name="username" placeholder="Username" type="text" class="form-control"/>
                <input name="password" placeholder="Password" type="password" class="form-control"/>
                <input name="confirmation" placeholder="Confirm Password" type="password" class="form-control"/>
                <button type="submit" class="form-control">register</button>
            </form>
        </div>
    </div>
{%endblock%}