{% extends "layout.html" %}
{% block title %}
login
{%endblock%}
{%block head%}
<h1 class="text-center text-white">Log in</h1>
{%endblock%}
{%block body%}
    <div>
        <form action="/register" method="post" class="center-block">
        <div class="container">
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text" class="form-control"/>
            <input name="password" placeholder="Password" type="password" class="form-control"/>
            <input name="confirmation" placeholder="Confirm Password" type="password" class="form-control"/>
            <button type="submit" class="form-control">register</button>
        </div>
        </form>
    </div>
{%endblock%}