{% extends "layout.html" %}
{% block title %}
open rekening
{%endblock%}
{%block body%}
<nav class="navbar navbar-dark bg-dark">
                <a class="card cardmain" href="/home"><img src="static/icons/home.png" class="img-fluid" alt="Responsive image"></a>
                <div class="scrolling-wrapper-flexbox">
                                <div class="card card2"><a href="#"><img src="static/icons/Transactie.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card3"><a href="#"><img src="static/icons/Overschrijving.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card7"><a href="#"><img src="static/icons/Aandeel.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card6"><a href="#"><img src="static/icons/Lening1.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card1"><a href="#"><img src="static/icons/budget.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card2"><a href="#"><img src="static/icons/Rekening.png" class="img-fluid" alt="Responsive image"></a></div>
                                <div class="card card7"><a href="#"><img src="static/icons/Belegging2.png" class="img-fluid" alt="Responsive image"></a></div>
                        </div>
              </nav>
<div class="container-fluid">
<form action="/rekening" method="post" class="center-block" id="form">
    <input autocomplete="off" required autofocus name="naam" placeholder="naam van rekening" type="text" class="form-control" id="input"/>
    <button type="submit" class="form-control">open rekening</button>
</form>
</div>
{%endblock%}